@import './variables';
@import './mixins';
@import './Tabs';
@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic,900');


//My reset
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    font-size: 62.5%;
}

///////////////////////
//STYLING STARTS HERE//
//////////////////////

//Main Page

.container{
    width: 99vw;
}
.header{
    height: 100vh;
    width:99vw;
    background-image: url('header-img.jpg'); 
    .nav-bar{
        //.dims(100%, 10rem);
        .flex(space-between, center, row);

        img{
            margin: 2rem;
        }
        nav{
            .flex(space-around, center, row);
            text-decoration: none;
            font-size: 2rem;
            a{
                margin-left: @navBar-Margin;
                margin-right: 1rem;

            }
            a:last-Child{
                margin-right: 3rem;
            }
        }
    }

    .header-content{
        background-color: grey;
        border: 2px solid rgb(200, 68, 68);
        .dims(30rem, 40rem);
        .flex(space-around, center, column);
        margin-left: 17vw;
        margin-top: 17rem;
        button{
            
        }
        

        .tagline{
            font-size: 5rem;
            text-align: center;
        }
    }
}

.about{
    background-color:  rgb(200, 68, 68);
    margin-left: 12.5vw;
    
    .dims(75vw, auto);
    margin: 0 auto;
    margin-top: 3rem;
    border: auto;
    padding: 3rem;

    img{
        width: 75vw;
    }
    h1{
        .margins(2rem, 2rem, 3rem, 1rem);
        font-size: 3rem;
    }
    p{
        .margins(3rem, 3rem, 0rem,0rem);
        font-size: 2rem
    }
}

.section{
    width: 85vw;
    margin: 1rem;
    margin-top: 2rem;
    margin-left: 7.5vw;
    border: 2px solid @danger-red;
}

// .experiences{

//     background-color: skyBlue;
//     .dims(70vw, 40rem);
//     margin-left: 15vw;
//     margin-top: 3rem;
//     .flex(space-around, center, row);
//     .experience{
//         background-color: white;
       
//         .dims(25em, 35rem);
//         h1{
//             margin-left: 1rem;
//             font-size: 2rem;
//         }
//         .img-placeHolder{
//             background-color: pink;
//             .dims(20rem, 15rem);
//             .margins(1rem, 1rem, 2rem, 2rem);
//         }
//         h3{
//             margin-left: 1rem;
//             font-size: 1.5rem;
//         }
//         p{
//             background-color: lightgrey;
//             font-size: 1.3rem;
//             margin-left: 1.5rem;
//             margin-right: 1.5rem;
//             margin-top: 1rem;
//         }
        
//         button{
//             .margins(3rem, 2rem, 6rem, 0rem);
//         }
//     }
// }

footer{
    background-color:black;
    .dims(99vw, 30rem);
    .margins(5rem, 0rem, 0px, 0px);
   
    .footer-content{
                
        .flex(space-between, center, row);
        .margins(5rem, 5rem, 5rem, 5rem);
        align-self: center;
        position: relative;
        top: 5rem;

        nav{
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            text-decoration: none;
            font-size: 1.75rem;
            text-align: center;
            a{
                color: white; 
                font-size: 2rem;
                margin-top: 1rem;
            }
        }

        h3{
            color: white;
            font-size: 3rem;
            font-weight:bold;
        }
        p{
            color: white;
            font-size: 2rem;
        }
    }
    
    .copyright{
        font-size: 1.5rem;
        .flex(center, center, row);
    }
}

//About us
    .aboutUs-header{
       // background-color: limegreen;
        .dims(100vw, 20rem);
        background-image: url('AboutMe-HeaderImage.png');
        .nav-bar{
    

            .dims(90vw, 15rem);
            .flex(space-between, center , row);
    
            .logo{
                margin: 0 auto;
            }
    
            nav{
                .flex(space-around, center, row);
                text-decoration: none;
                font-size: 2rem;
    
                a{
                    margin-left: @navBar-Margin;
                    margin-right: 1rem;
    
                }
                a:last-Child{
                    margin-right: 3rem;
                }
            }
        }
    }
    
    .aboutUs-content{
        
        
        margin-top: 3rem;
    
        .bio{
            background-color: lightgray;
            .dims(90vw, 25rem);
            .margins(3rem, 3rem, 5rem, 5rem);
            .flex(space-around, center, row);
            
            img{
                margin: 2rem;
            }
            .profile{
                //background-color: limegreen;
    
                h1{
                    font-size: 2rem;
                    text-align: center;
                    margin-top:1rem;
                }
            }
    
            .profile-content{
                width: auto;
                //padding: 1rem, 1rem, 1rem, 1rem;
               // background-color: yellowgreen;
                h1{
                    font-size: 3rem;
                    font-weight: bold;
                    text-align: center;
                    margin-top:1rem;        
                }          
    
                p{
                    font-size: 2rem;
                    .margins(1rem, 1rem, 1rem, 1rem);
                    padding: 1rem, 1rem, 1rem, 1rem;
    
                }
            }
        }  
        
        .revers{
            flex-direction: row-reverse;
        }
    }


/* ------------------------ 800 px max width starts here---------------------------------*/
@media(max-width:800px){

    /*Main Page (800p)x*/
    .header{
        .nav-bar{
            .dims(100%, 10rem);
            .flex(space-between, center, column);
            nav{
                .flex(space-around, center, row);
                .dims()
            }
        }

        .header-content{

            margin-top: 30rem;
            margin-left: 30vw;
        }
    }

    .about{
        height: 50rem;
    }



    /*About Us (800p)x*/
    .aboutUs-header{
        .dims(99vw, 25rem);
        .nav-bar{
            .flex(space-between, center, column);
            .logo{
                .margins(1rem, 1rem, 1rem, 1rem);
            }
            nav{
                margin-top: 2rem;
                .flex(space-around, center, row);
                .dims(99vw, 5rem);
            }
        }
    }

    .aboutUs-content{
        .bio{
            .dims(90vw, 35rem);
            .profile-content{
                .dims(90rem, 33rem);

            }
        }
    }
}
/* ------------------------ 500 px max width starts here---------------------------------*/
@media(max-width:500px){

    .header{
        .nav-bar{
            nav{
                
                .flex(space-between, center, column);
                a{
                    margin-top: 2rem;
                }
            }
        }
        .header-content{
            margin-top: 35rem;
            margin-left: 17vw;
        }
    }

    footer{
        .dims(100vw, 35rem);
        .footer-content{
            .flex(space-between, center, column);
        }
    }
      
    /*About Us (500px)*/
    .aboutUs-content{
        margin: 0 auto; 
        .bio{
            height: 50rem;
            margin: 0 auto; 
            margin-top: 3rem;
            .flex(space-between, center, column);
            .profile-content{
                width: auto;
                p{

                }
            }
        }

    }
}
