.width-100 {
    width: 100%;
  }
  
  .border-bottom-grey {
    border-bottom: 1px solid blue;
  }
  
  .flex(@jc: none, @ai: none, @dir: row) {
    display: flex;
    justify-content: @jc;
    align-items: @ai;
    flex-direction: @dir;
  }

  .dims(@w: 0, @h: 0)
  {
    width: @w;
    height: @h;
  }

  .margins(@mt: 5rem, @mb: 0, @ml: 18rem, @mr: 18rem){
    //all arguments are set to a content area by default
    margin-top: @mt;
    margin-bottom: @mb;
    margin-left: @ml;
    margin-right: @mr;
  }
  